*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    max-width: 900px;
    margin: 0 auto;

}
.apply{
    max-width: 600px;
    padding: 20px;
    background-color: white;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 2px 3px 5px;
    border-radius: 10px;
}
body{
    background-color: #ccc;
}
#small{
    font-size: 20px;
}
.form-container{
    margin: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax (200px , 1fr));
    gap: 20px;
}
.form-control{
    display: flex;
    flex-direction: column;
}
label{
    font-size: 15px;
    margin-bottom: 15px;
}
input, select{
    padding: 6px 10px;
    border: solid 1px #ccc;
    border-radius: 4px;
    font-size: 15px;
}
input:focus{
    color: blue;
    outline-color: blue;
}
 button{
    background-color: blue;
    border: transparent 2px solid ;
    border-radius: 5px;
    color: white;
    padding: 5px 10px;
 }
 button:hover {
    background-color: #ccc;
    border: 2px solid blue;
    color: black;
    transition: 0.3s ease-out;
    cursor: pointer;
}
 