*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    max-width: 900px;
    margin: 0 auto;

}
.apply{
    max-width: 600px;
    padding: 20px;
    background-color: white;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 2px 3px 5px;
    border-radius: 10px;
}
body{
    background-color: #ccc;
}
#small{
    font-size: 20px;
}